<div class="alert alert-info alert-dismissible fade show" role="alert">
  <%= notification.user.name %> <%= notification.action %> <%= msg %> <%= obj.name %>!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>