<%= simple_form_for([commentable, Comment.new]) do |f| %>
  <div class="form-group">
    <%= f.input :body, input_html: { class: "form-control" }%>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>