
<div class="container mt-5">
  <h1>Users</h1>
  <p>Welcome start following people!!</p>
  <% @users.each do |user| %>
    <div class="card">
      <h2><%= user.name %></h2>
      <div class="<%= user.id %>_follows" >
        <%= render "follows/follows", user_id: user.id %>
      </div>
    </div>
  <% end %>

  <% @events.each do |event| %>
    <% if lookup_context.template_exists?(event.action, "events/feeds", true) %>
      <%= render "events/feeds/#{event.action}", event: event %>
    <%end%>
  <% end %>
</div>
