<div>
<% if user_signed_in? %>
  <% if current_user.id != event.user.id %>
    <%= event.user.name %>
  <% end %>
  <%= event.action %>
  <%= event.eventable.name %>
  <%= time_ago_in_words(event.created_at) %> ago..
  <%end%>
</div>